.editor {
  /* position: relative; */
  width: 100%;
  height: 100%;
  display: flex;
  /* padding: 2%; */
}

.ace_editor {
  position: relative;
  margin: 1% 2%;
  width: auto !important;
}

.settings {
  position: relative;
  /* margin-top: 20px; */
}

.ant-select {
  text-transform: capitalize;
}